<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Recharge Manage</title>
	<!--[if lt IE 9]>
		<script src="__PUBLIC__/Js/jquery/jquery1.8.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="__PUBLIC__/Js/jquery/jquery.js"><</script>
		<!--<![endif]-->
    <script src="__PUBLIC__/Js/confirm_order/city.js"></script>
	<script>
function recharge(){
	var data=$("input[name='money']").val();
	$.ajax({
		url:"__APP__/TabChange/recharge",
		type:"post",
		data:"balance="+data,
		success:function(){
			alert("recharge success");
			$("#right").load("../TabChange/recharge_manage.html");
		}
	})

	return false;
}	
	</script>
</head>
<body>
<div class="container_order">
	<form action="__APP__/order/recharge" method="post" onsubmit="return recharge()">
		Current Balance: <{$balance}><br/>
		Recharge Amount:<input type="text" name="money" value=""/>
		<input type="submit" value="submit" name="submit"/>
	</form>
</div>
</body>
</html>
